<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
        <h3 class="h3"><span innerHTML="{{'itineraryPageText4' | translate}}"></span></h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="text-align: center; padding-bottom: 35px;">
        <a href="https://www.tripadvisor.it/Attraction_Review-g187791-d191105-Reviews-Museo_Nazionale_di_Castel_Sant_Angelo-Rome_Lazio.html"
            target="_blank"><img src="../../assets/images/Castel-Sant-Angelo.jpg" class="img-fluid" alt="" /></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="text-align: center;  padding-bottom: 35px;">
        <a href="https://www.tripadvisor.it/Attraction_Review-g187791-d522812-Reviews-Galleria_Borghese-Rome_Lazio.html"
            target="_blank"><img src="../../assets/images/Galleria-Borghese.jpg" class="img-fluid" alt="" /></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="text-align: center;  padding-bottom: 35px;">
        <a href="https://www.tripadvisor.it/Attraction_Review-g187791-d192274-Reviews-Basilica_di_Santa_Maria_Maggiore-Rome_Lazio.html"
        target="_blank"><img src="../../assets/images/Santa-Maria-Maggiore.jpg" class="img-fluid" alt="" /></a>
    </div>
</div>