<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
        <h3 class="h3"><span innerHTML="{{'itineraryPageText4' | translate}}"></span></h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
        <img src="../../assets/images/blog-1-720x480.jpg" class="img-fluid" alt="" />
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
        <img src="../../assets/images/blog-3-720x480.jpg" class="img-fluid" alt="" />
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
        <img src="../../assets/images/blog-2-720x480.jpg" class="img-fluid" alt="" />
    </div>
</div>
