<!-- <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
        <h3 class="h3"><span innerHTML="{{'itineraryPageText2' | translate}}"></span></h3>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="input-group mb-3" style="padding-top:5px;">
            <span class="input-group-text" id="inputGroup-sizing-default"><span
                    innerHTML="{{'itinerarySearchText2' | translate}}"></span></span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" [(ngModel)]="homePageInputForm.numberOfDays">
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="input-group mb-3" style="padding-top:5px;">
            <span class="input-group-text" id="inputGroup-sizing-default"><span
                    innerHTML="{{'itinerarySearchText1' | translate}}"></span></span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" [(ngModel)]="homePageInputForm.numberOfPeople">
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
        <button type="button" class="btn btn-secondary btn-sm" type="submit" (click)='submitHomePageInput()'><span
                innerHTML="{{'itineraryPageText3' | translate}}"></span></button>
    </div>
</div> -->