<!-- Header -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row">
	<div class="col-7 col-sm-5 col-md-4 col-lg-3 col-xl-3">
		<div class="navbar navbar-dark bg-dark">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<div id="over_icon">
						<img src="../../assets/images/icon2.PNG" height="20" />
					</div>
					<!-- Travelit -->
				</a>
			</div>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSfVbfOgYli5WUFG2r_wvk-mlIPKpMhjWHy2xFjykQR0jwgmgQ/viewform"
						target="_blank">Feedback</a>
		</div>
	</div>

	<div class="col-5 col-sm-7 col-md-8 col-lg-9 col-xl-9">
		<header id="header">
			<div class="inner">
				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<br>
			<ul>
				<li><button id="startYourStoryMenu">Start your story</button></li>
				<li><button id="travelitMenu">Why Travelit?</button></li>
				<li><button id="howItWorksMenu">How it works?</button></li>
				<li>
					<a href="#" class="dropdown-toggle">About</a>
					<ul>
						<li><button id="testimonialsMenu">Feedbacks</button></li>
						<li><button id="epicStoriesMenu">Epic stories</button></li>
						<li><button id="aboutUsMenu">About us</button></li>
					</ul>
				</li>
				<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfVbfOgYli5WUFG2r_wvk-mlIPKpMhjWHy2xFjykQR0jwgmgQ/viewform"
						target="_blank">Contact
						us</a></li>
			</ul>
		</nav>
	</div>

</div>