<!-- Header -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header id="prova">
	<nav class="navbar navbar-dark bg-dark">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div id="over_icon">
					<img src="../../assets/images/icon2.PNG" height="25" />
				</div>
				<!-- Travelit -->
			</a>
		</div>
		
		<ul class="nav navbar-nav">
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfVbfOgYli5WUFG2r_wvk-mlIPKpMhjWHy2xFjykQR0jwgmgQ/viewform"
					target="_blank">Feedback</a></li>
		</ul>
	</nav>
</header>
<header id="header">
	<div class="inner">
		<!-- Nav -->
		<nav>
			<ul>
				<li><a href="#menu">Menu</a></li>
			</ul>
		</nav>
	</div>
</header>

<!-- Menu -->
<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="index.html" class="active">Home</a></li>
		<li><a href="packages.html">Why Travelit?</a></li>
		<li><a href="#HOW">How it works?</a></li>
		<li>
			<a href="#" class="dropdown-toggle">About</a>
			<ul>
				<li><a href="about.html">Testimonials</a></li>
				<li><a href="testimonials.html">Epic stories</a></li>
				<li><a href="#bottom">Our team</a></li>
			</ul>
		</li>
		<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfVbfOgYli5WUFG2r_wvk-mlIPKpMhjWHy2xFjykQR0jwgmgQ/viewform">Contact us</a></li>
	</ul>
</nav>