<!-- Header -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header id="prova">
<nav class="navbar navbar-dark bg-dark">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">
		<div id="over_icon">
			<img src="../../assets/images/icon2.PNG" 
			height="30" />
		</div>
		<!-- Travelit -->
	</a>

	</div>
	<ul class="nav navbar-nav">
	  <li><a href="signup-test.html">Sign up</a></li>
	</ul>

	<ul class="nav navbar-nav">
		<li><a href="https://docs.google.com/forms/u/0/">Feedback</a></li>
	  </ul>

	  

  </nav>
</header>

<header id="header">
    <div class="inner">

        <!-- Logo -->
        <!-- <a href="index.html" class="logo">
            <span class="fa fa-plane"></span> <span class="title">Travelit</span>
        </a> -->

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>

<!-- Menu -->
<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="index.html" class="active">Home</a></li>
	
		<li><a href="packages.html">Why Travelit?</a></li>
	
		<li><a href="blog.html">Blog</a></li>
	
		<li>
			<a href="#" class="dropdown-toggle">About</a>
	
			<ul>
				<li><a href="about.html">About Us</a></li>
				<li><a href="testimonials.html">Testimonials</a></li>
				<li><a href="terms.html">Terms</a></li>
			</ul>
		</li>
		<li><a href="contact.html">Contact Us</a></li>
	</ul>
	</nav>

