<div class="row">

  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <h2><span innerHTML="{{'itinerarySearchTitle1' | translate}}"></span></h2>
  </div>
</div>
<div class="row">

  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{homePageInputForm.selectedBook.title}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div *ngFor='let book of booksList'>
          <li><a class="dropdown-item" (click)="homePageInputForm.selectedBook = book">{{book.title}}</a></li>
        </div>
      </ul>
    </div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="padding-top: 10px;">
    <app-datepicker placeholderText="{{'itinerarySearchText1' | translate}}" (dateChange)="setStartDate($event)">
    </app-datepicker>
  </div>

  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="padding-top: 10px;">
    <app-datepicker placeholderText="{{'itinerarySearchText2' | translate}}" (dateChange)="setEndDate($event)">
    </app-datepicker>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <app-slider sliderText="{{'culture' | translate}}" min="1" max="5" step="1" (slideChange)="setCulture($event)"></app-slider>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <app-slider sliderText="{{'nature' | translate}}" min="1" max="5" step="1" (slideChange)="setNature($event)"></app-slider>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <app-slider sliderText="{{'recreation' | translate}}" min="1" max="5" step="1" (slideChange)="setRecreation($event)"></app-slider>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <app-slider sliderText="{{'speed' | translate}}" min="1" max="3" step="1" (slideChange)="setSpeed($event)"></app-slider>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <app-slider sliderText="{{'budget' | translate}}" min="1" max="3" step="1" (slideChange)="setBudget($event)"></app-slider>
    </div>
  </div>
  
  <div class="row" style="margin-top:30px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
      <button type="button" class="btn btn-secondary btn-sm" type="submit" (click)='submitHomePageInput()'><span
          innerHTML="{{'itinerarySearchText4' | translate}}"></span></button>
    </div>
  </div>