<!-- Wrapper -->
<div id="wrapper">

    <app-header></app-header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- About Us -->
            <header id="inner">
                <h1><span innerHTML="{{'itineraryPageText1' | translate}}"></span></h1>
            </header>

            <!-- Main container-->
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="border-right: 1px groove #e9ecef;">
                    <app-refresh-itinerary [homePageInputForm]="homePageInputForm"></app-refresh-itinerary>
                    <br><br>
                    <app-nearby></app-nearby>
                </div>

                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <p> {{itinerary}} </p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>