<!-- Footer -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<footer id="footer">

    <!-- <section>
            <h2>Contact Us</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>

                    <div class="field half">
                        <input type="text" name="email" id="email" placeholder="Email" />
                    </div>

                    <div class="field">
                        <input type="text" name="subject" id="subject" placeholder="Subject" />
                    </div>

                    <div class="field">
                        <textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
                    </div>

                    <div class="field text-right">
                        <label>&nbsp;</label>

                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section> -->
    <div class="inner">

        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Contact Info</h3>
                <ul class="alt">
                    <li><span class="fa fa-map-pin"></span> Via Raffaele Lambruschini, 4C, Building 26 / a, 20156
                        Milano MI</li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                <h3>Contact Us</h3>
                <ul class="icons">
                    <!-- <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                    </li> -->
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfVbfOgYli5WUFG2r_wvk-mlIPKpMhjWHy2xFjykQR0jwgmgQ/viewform" class="icon style2 fa-comments"><span class="label">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>Copyright © 2021 Travelit </li>
            <li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
            
        </ul>
    </div>
</footer>