<!-- Footer -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<footer id="footer">

    <!-- <section>
            <h2>Contact Us</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>

                    <div class="field half">
                        <input type="text" name="email" id="email" placeholder="Email" />
                    </div>

                    <div class="field">
                        <input type="text" name="subject" id="subject" placeholder="Subject" />
                    </div>

                    <div class="field">
                        <textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
                    </div>

                    <div class="field text-right">
                        <label>&nbsp;</label>

                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section> -->
    <div class="inner">

        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h3>Contact Info</h3>
                <ul class="alt">
                    <li>Alejandro.Tommasi@mip.polimi.it</li>
                    <li>Davide.Zanette@mip.polimi.it</li>
                    <li>Bruno.Pivato@mip.polimi.it</li>
                    <li>Simone.Lazzari@mip.polimi.it</li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>Copyright © 2021 Travelit </li>
            <li>Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>

        </ul>
    </div>
</footer>